@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  position: relative;
  color: white;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 1024px) {



}
